.aside-margin{
    margin: 100px 0px ;
}

.flex{
    display: flex;
    box-sizing: border-box;
    padding-bottom: 300px;
    flex-direction: row;
}

.relative{
    position: relative;
}

.aside-left{
    position: absolute;
    left: 0;
}

.aside-right{
    position: absolute;
    right: 0;
}

.box{
    width: 40%;
    min-height: 100%;
    margin: auto 50px;
}

.landing-button{
    padding: 15px 75px !important;
    border-radius: 40px !important;
    background-color: #007bff !important;
    width: auto !important;
}

.info{
    background-color: #ccc;
    background-image: url('../../utilities/images/test.jfif');
    background-position: center;
    background-size: cover;
    padding: 300px 0px;
}

.cursor-blinker{
    padding: 0px 1.5px;
    background-color: #97c9ff;
    animation-name: blinker;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes blinker {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .width-100{
      width: 100%;
      display: flex;
  }

  .show-div{
    border: 1px solid #000;
    padding: 10px 0px;
  }

 .width-two-third{
     width: 66.6%;
     padding: 0px 100px;
 }

 .width-one-third{
     width: 33.3%;
 }

 .box div span, .width-100 div span {
     text-transform: uppercase;
     font-weight: 500;
 }

 .box p, .width-100 p{
     font-size: 18px;
     width: 100%;
     line-height: 1.75em;
 }

 .more{
     margin: 250px 0px;
 }

 .products-background{
     background-image: url('../../utilities/images/image23.jfif');
     background-size: cover;
     height: 90vh;
 }

 .sample-listing{
    max-width: 250px;
    max-height: 250px;
 }

 .sample-sell-form{
     max-width: 250px;
     max-height: 250px;
 }

 .width-one-third i, .width-one-third img{
     font-size: 100px;
     margin-bottom: 40px;
 }

 /* make a class? */
#landing-container .width-100 .width-one-third{
     padding: 0px 60px;
 }

 
#landing-container .landing-button a{
    color: #fff;
    text-decoration: none;
  }

.width-one-third p{
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .box{
        flex: 1;
    }

    .width-100{
        display: block;
    }

    .width-one-third{
        width: auto;
    }
}