#app-body{
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  margin: auto 60px;
}

html {
  overflow-y: scroll;
}

.full-width{
  width: 98.9vw; /* fix? */
  left: -60px; /* fix? */
  position: relative;
}

.jumbo{
  background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  background-size: cover;
  height: 80vh;
}

.browse-jumbo{
  background-image: url('https://images.unsplash.com/photo-1508341421810-36b8fc06075b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80');
}

.jumbo-header{
  padding-top: 50vh;
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 100px;
  opacity: 0.6;
}

.inline-display{
  display: inline;
}
.input-container{
  margin: 20px 0px;
}

.input-field{
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 2.5px;
  padding: 15px 20px;
  font-size: 17.5px;
  display: block;
  margin: auto;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
}

.input-field:focus{
  outline: none;
  box-shadow: 0px 0px 5px #007bff;
}

.button{
  background-color: #000;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  padding: 15px 0px;
  margin: 10px auto;
  width: 100%;
  font-size: 18px;
}

.button:hover{
  cursor: pointer;
}

.button:focus{
  outline: none;
}
.error-message{
  color: #dc3545;
  font-size: 12px;
}

button:hover{
  cursor: pointer;
}

.password-toggle{
  position: absolute;
  right: 10px;
  bottom: 35%;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}

.text-background{
  background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWx8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
}

.large-text-container{
  width: 70%;
  margin: 100px auto;
}

.large-text{
  font-size: 35px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .large-text{
    font-size: 25px;
  }
}

@media only screen and (max-width: 684px) {
  .large-text{
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .large-text{
    font-size: 15px;
  }
}