.home-container .aside-container{
    height: 300px;
    width: 90%;
    margin: auto;
    background-image: url('../../utilities/images/aside-background.jfif');
    background-position: center;
    background-size: cover;
}

.aside-container .collection-text{
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    padding: 80px 20px 20px;
}

.aside-container .button{
    border: 0px;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    width: auto;

}