#search-container{
    border-radius: 10px;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 1px 1px 5px #ddd;
    margin: 20px;
    transition: all 0.3s;
}

#search-container:hover {
    box-shadow: 1px 1px 10px #ddd;
}

#search-field{
    border: 0px;
    width: 80%;
    height: 40px;
    font-size: 20px;
}

#search-field:focus{
    outline: none;
}

.search-icon, #search-field{
    margin: 0px 5px;
    font-size: 20px;
}
