  .account-container{
    position: relative;
}

.accmenu-container{
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(235, 235, 235);
    margin: 20px;
    text-align: left;
    padding: 0.5px 20px 20px 20px;
    position: relative;
    font-size: 20px;
}

#password-modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #555;
    background-color: rgba(0,0,0,0.1);
  }
  
.password-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(211, 211, 211, 0.37);
    width: 30%;
  }


.account-container .error-message{
    font-size: 16px;
}

.account-container .button{
    padding: 15px 20px;
    width: auto;
}

.accmenu-container .product-carousel{
    font-size: 17px;
}

.account-container .email{
    margin-left: 60px !important;
}

.account-container .edit-container{
    position: absolute;
    right: 15px;
    top: 20px;
}

.account-container .edit-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.password-container .input-container{
    position: relative;
}
.password-container .button{
    width: 100%;
}
.accmenu-container .input-field{
    display: inline-block;
    width: auto;
    margin: 10px;
    height: 45px;
}

.account-container .sign-out{
      position: absolute;
      right: 20px;
  }