  .account-container{
    animation: fade-in 0.5s forwards;
    position: relative;
    margin: 50px 100px;
}

.accmenu-container{
    border: 0.5px solid #bbb;
    border-radius: 5px;
    margin: 40px 20px;
    text-align: left;
    padding: 0.5px 20px 20px;
    position: relative;
}

.password-modal{
    background-color: #555;
    background-color: rgba(0,0,0,0.1);
    animation: fade-down 0.5s forwards;
    display: none;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    transform: translateY(-75px);
  }
  
.password-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(211, 211, 211, 0.37);
    width: 30%;
  }


.account-container .error-message{
    font-size: 13px;
}

.account-container .button{
    padding: 15px 20px;
    width: auto;
}

.accmenu-container .product-carousel{
    font-size: 17px;
}

.account-container .edit-container{
    position: absolute;
    right: 15px;
    top: 20px;
}

.account-container .edit-container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.password-container .input-container{
    position: relative;
}
.password-container .button{
    width: 100%;
}
.accmenu-container .input-field{
    display: block;
    margin: 10px 10px 10px 0px;
    height: 45px;
}

.account-container .sign-out{
      position: absolute;
      right: 20px;
}

.accmenu-container .delete-acc {
    background-color: #f53649;
}

/* move to app.css */
.space-between{
  display: flex;            
  justify-content: space-between;
}

.personal-details-form{
    width: 45%;
}

.details-heading{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
}

@media only screen and (max-width: 768px){
    .accmenu-container{
        border: 0;
        border-top: 1px solid #050F19;
        border-radius: 0;
        box-shadow: 0px 0px 0px;
        padding-left: 0;
    }

    .accmenu-container .personal-details-form{
        width: auto;
    }

    .space-between {
        flex-direction: column;
    }
    
    .accmenu-container form span b{
        font-size: 14px;
    }

    .accmenu-container .input-field{
        border-radius: 10px;
    }
    .account-container .email{
        margin-left: 0;
        display: block;
    }
    .password-container {
        box-sizing: border-box;
        width: 90%;
    }
}