#authenticate-form{
    width: 80%;
    margin: auto;
}
  
#authenticate-container{
    height: 60vh;
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

#authenticate-container .input-container{
    position: relative;
}

#authenticate-container .small-font{
    font-size: 12px;
}

#authenticate-container .small-font a{
    color: #000;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #authenticate-container{
        width: auto;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    #authenticate-container{
        width: 45%;
    }
  }