.notfound-container{
    background-image: url('../../utilities/images/404.jpg');
    background-size: cover;
    height: 100vh;
}

.notfound-container + #footer{
    margin: 0px !important;
}

.redirect{
    width: auto !important;
    padding: 10px 30px !important;
    border-radius: 10px !important;
    position: absolute;
    bottom: 80px;
    left: 43%;
    background-color: #333 !important;
}

.notfound-container a{
    color: #fff;
    text-decoration: none;
  }